{{!-- <article>
    <h2>
        Edit Comment
    </h2>
    <section class="form-box">
        <form class="edit-post-form">
            <div>
                <div>Content</div>

                <input name="blogpost-comment" type="text" value="{{comment.description}}" />
            </div>

            <button class="edit-post-form" id="submit">Update Blogpost</button>
            <button class="delete-post-btn" id="submit">Delete</button>
        </form>
    </section>
</article>

{{> comments blogpost.comments}}

<script src="/javascript/edit.js"></script>
<script src="/javascript/comment.js"></script> --}}